html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

.bg{
  background-image: url("./bg.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 10px;
}
